#firstdiv{
	background-color: green

}

#seconddiv{
	background-color: blue
}

#thirddiv{
	background-color: pink
}
#fourthdiv{
	background-color: purple
}
h1{
	font-color: black;
	font-size: 2em;
	text-align:center;
	width: 30%;
	margin: 0 auto;
}
td{
	
	border: 5px solid black;
}